@import '../../utils/mixins.scss';

.cardPage {
    display: block;
    padding-inline: 16px;
    max-width: 1280px;
    margin: auto;

    &__item {
        padding-top: 20px;

        @include on-tablet {
            display: grid;

            grid-template-columns: repeat(6, 1fr);
            gap: 20px;
        }

        @include on-desktop {
            grid-template-columns: repeat(12, 1fr);
        }
    }

    &__card-image {
        @include on-tablet {
            grid-column: 2 / -1;
        }

        @include on-desktop {
            position: sticky;
            top: 40px;
            left: 0;
            grid-column: 2 / 7;
            height: fit-content;
        }
    }

    &__image-container {
        position: relative;
    }

    &__image-prevs {
        display: none;

        @include on-tablet {
            display: flex;
            flex-direction: column;
            gap: 10px;
            grid-column: 1 / 2;
        }
    }

    &__image-prev {
        display: block;

        // margin: 10px 25px;

        &--active {
            padding: 4px;
            border: 1px solid #c8cbce;
        }
    }

    &__image-prev-wrapper {
        position: relative;

        width: 100%;

        @include setPadding(70, 105);
    }

    &__image-prev-img {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 100%;
    }

    &__image-wrapper {
        display: flex;
        overflow: hidden;

        @include setPadding(450, 500);
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;

        transition: left 0.3s ease-in-out;

        display: block;
        width: 100%;
        height: 100%;
    }

    &__arrow {
        position: absolute;
        left: 0;
        z-index: 3;

        display: block;
        width: 20px;
        height: 20px;

        top: 50%;
        transform: translateY(-50%);

        color: #102C57;

        &--right {
            left: 100%;
            transform: translate(-100%, -50%);
        }

        &--disabled {
            color: #eeedeb;
        }
    }

    &__content {
        display: block;
        padding-top: 10px;

        @include on-tablet {
            padding-top: 30px;

            grid-column: 1 / -1;
        }

        @include on-desktop {
            grid-column: 7 / -1;
        }
    }

    &__title {
        display: block;

        color: #515151;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 800;
    }

    &__description {
        display: block;
        padding-top: 8px;

        font-size: 12px;
        color: #797f83;
    }

    &__data {
        display: grid;
        padding-top: 24px;
        grid-template-columns: repeat(6, 1fr);
    }

    &__price {
        display: block;
        grid-column: 1 / 4;

        font-weight: 800;

        @include on-desktop {
            grid-column: 1 / -1;
        }
    }

    &__rating {
        display: flex;
        grid-column: 4 / -1;

        justify-content: right;
        gap: 8px;
        align-items: center;

        @include on-desktop {
            padding-top: 10px;
            justify-content: left;
            align-items: baseline;
            grid-column: 1 / -1;
            grid-row: 2;

            &--is-card {
                padding-top: 0;
            }
        }
    }

    &__feed-count {
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;
        color: #797f83;
    }

    &__sizes {
        display: block;
        grid-column: 1 / -1;
        grid-row: 2;

        padding-top: 20px;

        @include on-desktop {
            grid-row: 3;
        }
    }

    &__stars {
        display: flex;
    }

    &__size-blocks {
        display: flex;
        gap: 5px;

        padding-top: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    &__size-block {
        display: block;

        height: 42px;
        padding-inline: 11px;
        font-size: 12px;

        border: 2px solid #c8cbce;

        &--active {
            border: 2px solid #c18c43;
            background-color: #e2dede;
        }
    }

    &__size-title {
        display: block;

        font-size: 10px;
        color: #868686;
        font-weight: 200;
    }

    &__size-block-title {
        line-height: 42px;
        color: #000;
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-top: 30px;
        grid-column: 1 / -1;
        grid-row: 3;
        gap: 10px;

        @include on-tablet {
            grid-template-columns: repeat(9, 1fr);
            grid-row: 4;
        }
    }

    &__add-to-cart {
        display: block;
        grid-column: 1 / 6;
        padding: 0;

        background-color: #2b3338;
        color: #fff;

        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;

        border: 0;
        outline: 0;

        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: #3f4b52;
            cursor: pointer;
        }

        &--active {
            border: 1px solid #2b3338;
            background-color: #fff;
            color: #9cdba6;

            &:hover {
                background-color: #fff;
                cursor: pointer;
            }
        }

        @include on-tablet {
            grid-column: 1 / 9;
        }
    }

    &__like {
        display: block;
        grid-column: 6 / -1;
        
        padding: 0;
        width: 55px;
        height: 55px;

        border: 2px solid #e2dede;
        outline: 0;

        transition: border 0.3s ease-in-out;

        background-color: #fff;
        justify-self: right;

        & :first-child {
            display: block;
            margin: auto;

            width: 22px;
            height: 22px;
        }

        &:hover {
            cursor: pointer;
            border: 2px solid #9fa2ab;
        }

        @include on-tablet {
            grid-column: 9 / -1;
        }
    }

    &__info {
        grid-column: 1 / -1;
        margin-top: 20px;
        padding: 15px 10px;

        border-bottom: 1px solid #e2dede;
        border-top: 1px solid #e2dede;

        @include on-desktop {
            display: none;
        }
    }

    &__info-title {
        font-size: 11px;
        font-weight: normal;
        text-transform: uppercase;
        color: #333;
    }

    &__info-details {
        display: block;
        grid-column: 1 / -1;
        overflow: hidden;
        max-height: 0;

        transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out;

        font-size: 11px;
        color: #2b3338;

        &--active {
            padding-top: 20px;
        }
    }

    &__info-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__ful-description {
        display: none;

        @include on-desktop {
            display: block;
            padding-top: 30px;

            grid-column: 1 / -1;
        }
    }

    &__viewed {
        padding-top: 30px;

        @include on-tablet {
            padding-top: 60px;
        }
    }

    &__feedbacks {
        display: block;
        margin-block: 30px;

        border-top: 1px solid #e1e7eb;
        border-bottom: 1px solid #e1e7eb;

        @include on-tablet {
            margin-block: 50px;
        }

        @include on-desktop {
            margin-block: 60px;
        }
    }

    &__feedback-wrapper {
        display: flex;
        overflow: hidden;
    }

    &__feedback {
        position: relative;

        transition: left 0.3s ease-in-out;

        padding: 10px;
        min-width: 100%;
    }

    &__feedback-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__feedback-author {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__feedback-img {
        position: relative;

        display: block;
        overflow: hidden;
        width: 30px;
        height: 30px;

        border-radius: 50%;
    }

    &__feedback-image {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 100%;
    }

    &__feedback-name {
        display: block;

        font-weight: bold;
        font-size: 12px;
    }

    &__feedback-body {
        display: block;

        padding-top: 30px;
    }

    &__scroller {
        display: flex;
        padding-top: 10px;

        gap: 10px;
        justify-content: right;
        align-items: center;

        @include on-tablet {
            padding-top: 0;
            padding-block: 20px;
        }
    }

    &__icon {
        display: block;
    }

    &__icon-number {
        display: block;
    }

    &__size-error {
        font-size: 12px;
        color: #fd9086;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &--active {
            opacity: 1;
        }
    }
}