@import '../../../utils/mixins.scss';

@keyframes l11 {
    0%   {background: conic-gradient(#f03355 0     ,#0000 0)}
    12.5%{background: conic-gradient(#f03355 45deg ,#0000 46deg)}
    25%  {background: conic-gradient(#f03355 90deg ,#0000 91deg)}
    37.5%{background: conic-gradient(#f03355 135deg,#0000 136deg)}
    50%  {background: conic-gradient(#f03355 180deg,#0000 181deg)}
    62.5%{background: conic-gradient(#f03355 225deg,#0000 226deg)}
    75%  {background: conic-gradient(#f03355 270deg,#0000 271deg)}
    87.5%{background: conic-gradient(#f03355 315deg,#0000 316deg)}
    100% {background: conic-gradient(#f03355 360deg,#0000 360deg)}
  }

.catalog {
    position: relative;

    &__body {
        display: block;
        max-height: 65vh;

        overflow-y: auto;
    }

    &__content {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);

        gap: 20px;

        @include on-desktop {
            grid-template-columns: repeat(12, 1fr);
        }
    }

    &__left-filter {
        display: none;

        @include on-desktop {
            position: sticky;
            top: 0;
            left: 0;

            display: block;
            height: fit-content;
            padding-top: 40px;

            grid-column: span 3;
        }
    }

    &__clear-filter {
        display: none;

        @include on-desktop {
            display: flex;
            align-items: center;
            gap: 10px;

            font-size: 14px;
            cursor: pointer;

            & :last-child {
                width: fit-content;

                &:hover {
                    border-bottom: 1px solid #f8f8f8;                    
                }
            }
        }
    }

    &__content-items {
        position: relative;
        display: grid;
        padding: 40px 20px 0;

        grid-column: span 2;

        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 40px;


        @include on-tablet {
            grid-template-columns: repeat(6, 1fr);
        }

        @include on-desktop {
            grid-template-columns: repeat(12, 1fr);

            grid-column: span 9;
        }
    }

    &__item {
        display: block;
        grid-column: span 1;

        @include on-tablet {
            grid-column: span 2;
        }

        @include on-desktop {
            grid-column: span 3;
        }
    }

    &__title-wrapper {
        display: none;
        
        @include on-desktop {
            display: block;
            padding: 20px 0 0;
        }
    }

    &__title-content {
        display: block;

        font-size: 23px;
        font-weight: 800;
        text-align: center;
        color: #515151;

        text-transform: uppercase;
    }

    &__btn {
        display: block;
        margin: auto;
        padding: 15px 50px;

        border: 0;
        outline: 0;
        color: #fff;
        text-transform: uppercase;
        background-color: #2b3338;
        font-size: 16px;
    }

    &__btn-wrapper {
        display: block;
        padding-top: 40px;
    }

    &__page-count {
        display: block;
        padding: 0 0 25px;

        font-size: 10px;
        text-align: center;
        font-weight: 500;
        color: #2b3338;
    }

    &__filters {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        
        gap: 20px;
        padding-inline: 20px;
        
        @include on-desktop {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 4;

            padding-top: 0;
            padding-block: 10px;

            background-color: #fff;

            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 0;
        }
    }

    &__filter-wrapper {
        @include on-desktop {
            display: none;
        }
    }

    &__modal {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;

        display: block;
        width: 100%;
        height: calc(100vh - 40px);
        overflow-y: hidden;

        background-color: #fff;
    }

    &__header {
        position: sticky;
        top: 0;
        left: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;

        border: 1px solid #e0e0e0;
        background-color: #fff;
    }

    &__title {
        display: block;
        height: fit-content;

        font-size: 10px;
        text-align: center;
        font-weight: 500;
        color: #2b3338;

        text-transform: uppercase;
    }

    &__btns {
        position: relative;
        margin-block: 20px;
        left: 0;

        display: block;
    }

    &__btn {
        display: block;
        width: 230px;
        padding: 10px 20px;
        margin-top: 10px;

        font-size: 12px;

        transition: background-color 0.3s ease-in-out;

        &--white {
            color: #2b3338;
            background-color: #fff;
            border: 1px solid #2b3338;
        }

        &:hover {
            background-color: #000;
            cursor: pointer;
        }
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
    }
}