@import '../../../../utils/mixins.scss';

.filter {
    display: block;
    width: 100%;

    cursor: pointer;

    @include on-desktop {
        width: fit-content;
    }

    &__hide {
        @include on-desktop {
            display: none;
        }
    }

    &__container {
        display: flex;
        width: 100%;
        height: fit-content;
        padding: 15px 20px;

        justify-content: space-between;
        align-items: center;

        border: 1px solid #e0e0e0;

        @include on-desktop {
            padding: 7px 20px;
            gap: 60px;

            border: 2px solid #e0e0e0;
        }
    }

    &__filter-name {
        position: relative;

        color: #374151;
        text-transform: uppercase;
        font-size: 8px;
    }

    &__caret {
        display: block;
        width: 14px;
        height: 12px;
        transform: rotate(0);

        transition: transform 0.3s ease-in-out;

        &--down {
            transform: rotate(180deg);
        }

        @include on-desktop {
            position: relative;
            top: -1px;
        }
    }

    &__options {
        position: absolute;
        z-index: 2;

        display: block;
        max-height: 0;
        overflow: hidden;

        list-style-type: none;
        padding: 0;

        background-color: #fff;

        transition: max-height 0.3s ease-in-out;

        &--active {
            max-height: 200px;
        }
    }

    &__link {
        display: block;
        padding: 15px 10px;
        border: 1px solid #e0e0e0;

        font-size: 10px;
        text-decoration: none;
        text-transform: uppercase;
        color:  #374151;

    }
}